/*
 * Offset positioning
 */

@mixin position($position, $args: ()) {
  $offsets: top right bottom left;
  position: $position;                                               
  
  @each $offset in $offsets {                                        
    $index: index($args, $offset);                                   
    
    @if $index {                                                     
      @if $index == length($args) {                                  
        #{$offset}: 0;                                               
      }
      @else {                                                        
        $next: nth($args, $index + 1);                               
        @if is-valid-length($next) {                                 
          #{$offset}: $next;                                         
        }
        @else if index($offsets, $next) {                            
          #{$offset}: 0;                                             
        }
        @else {                                                     
          @warn "Invalid value `#{$next}` for offset `#{$offset}`."; 
        }
      }
    }
  }
}

/* Function checking if $value is a valid length
   ---
   @param [literal] $value: value to test
   ---
   @return [bool] */

@function is-valid-length($value) {
  @return (type-of($value) == "number" and not unitless($value)) 
       or (index(auto initial inherit 0, $value) != false);
}
 
/* Shorthands */

@mixin absolute($args: ()) {
  @include position(absolute, $args);
}
 
@mixin fixed($args: ()) {
  @include position(fixed, $args);
}
 
@mixin relative($args: ()) {
  @include position(relative, $args);
}


/* Usage examples

.a {
  @include absolute();
}

.b {
  @include absolute(top);
}

.c {
  @include absolute(top right);
}

.d {
  @include absolute(top right bottom);
}

.e {
  @include absolute(top right bottom left);
}

.f {
  @include absolute(top right 1em);
}

.g {
  @include absolute(top 1em right);
}

.h {
  @include absolute(top 1em right 100%);
}

.i {
  @include absolute(top right mistake);
}

.j {
  @include absolute(top 1em right 1em bottom 1em left 1em)
}

*/