/*
 * Sets the "Width" and "Height" of the element.
 */


/* If there is only a single value in "$size" it is used for both width and height. All units are supported. 

 example: 
    .first-element { @include size(2em);}              
    .second-element {@include size(auto 10em);} 
            
 CSS Output: 
    .first-element { width: 2em; height: 2em;}
    .second-element { width: auto;height: 10em;} 
*/

@mixin size($value) {
 $width: nth($value, 1);
 $height: $width;
 @if length($value) > 1 {
  $height: nth($value, 2);
 }
 @if is-size($height) {
  height: $height;
 }
 @else {
  @warn "'#{$height}' is not a valid length for the '$height' parameter in the 'size' mixin.";
 }
 @if is-size($width) {
  width: $width;
 }
 @else {
  @warn "'#{$width}' is not a valid length for the '$width' parameter in the 'size' mixin.";
 }
}

