$yellow   	 : #fffd00;
$blue     	 : #182447;
$blueL1   	 : #06f0ff;
$grey	  	 : #9b9b9b;
$greyL1   	 : #dddee4;
$green    	 : #00ff87;
$red      	 : #c42133;
$fb-color 	 : #3b5998;
$tw-color 	 : #00aced;
$insta    	 : #5b97c6;
$white    	 : #ffffff;
$youtube     : #ec494a;
$placeholder : #7f8392;
$black		 : #000000;


