@font-face {
    font-family: Gilroy;
    src: url("../../Resource/Fonts/Webfonts/gilroy-extrabold-webfont.woff") format("woff")
}




body {
    @include linearGradient($grey, $blue);
    font-family: Gilroy;
}

header {
    background: $grey;
}

.site-header {
    @include media-breakpoint-down(md) {
        height: 50px;
    }

    .logo {
        @include media-breakpoint-down(md) {
            margin: -11px auto 15px;
        }
    }
}

section {

    &.carousel,
    &.tabPanel,
    &.contact,
    &.social {

        @include media-breakpoint-down(md) {
            padding: 15px !important;
            margin: 15px 0 !important;
        }

    }

    &.contact,
    &.social {
        @include media-breakpoint-only(md) {
            padding: 1.5rem !important;
        }
    }

    &.carousel {
        @include media-breakpoint-down(md) {
            margin-top: -12px !important;
        }
    }

    &.tabPanel {
        @include media-breakpoint-down(md) {
            padding-bottom: 0 !important;
        }
    }
}

.navbar {
    background-color: $blue;

    @include media-breakpoint-down(md) {
        background-color: transparent;
        @include relative(top -43px);
    }

    .navbar-toggler {
        @include media-breakpoint-down(md) {
            border: 0 none;
            @include relative(top -4px);

            span {
                color: $blue;
            }
        }
    }

    a {
        color: $white !important;
        font-weight: bold;
    }

    .dropdown-item {
        color: $blue !important;
    }

    .nav-item {
        margin-right: 35px;

        .dropdown-toggle:after {
            color: $green;
        }
    }

    .navbar-collapse {
        @include media-breakpoint-down(sm) {
            background-color: $blue;
            @include relative(top 10px);
            margin: 0 -15px;
            padding: 15px 30px;
        }
    }
}

.logo {
    img {
        max-width: 100px;
    }
}

.twitter {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-twitter);
    }
}

.facebook {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-facebook);
    }
}

.instagram {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-instagram);
    }
}

.youtube {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-youtube);
    }
}

.socialMedia {
    display: flex;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    a {
        text-decoration: none !important;
        color: $white;
        @include size(40px);
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        overflow: hidden;
        @include relative();
        display: inherit;


        i {
            @include relative();
            z-index: 3;
        }

        &.facebook {
            background-color: $fb-color;

            &:hover {
                background-color: darken($fb-color, 10%);
            }
        }

        &.twitter {
            background-color: $tw-color;

            &:hover {
                background-color: darken($tw-color, 10%);
            }
        }

        &.instagram {
            background-color: $insta;

            &:hover {
                background-color: darken($insta, 10%);
            }
        }

        &.youtube {
            background-color: $youtube;

            &:hover {
                background-color: darken($youtube, 10%);
            }
        }
    }
}

.search {
    .btn {
        background: transparent;
        border: 0 none;

        span {
            &:before {
                color: $green;
                font-size: 1.15rem;
            }
        }
    }

    .form-control {
        @include media-breakpoint-down(sm) {
            display: block !important;
            border: 0 none;
            min-height: 44px;
            border-radius: 0;
        }
    }

    .input-group-addon {
        @include media-breakpoint-down(sm) {
            position: absolute;
            right: 30px;
            background: lighten($blue, 10%);
            height: 46px;

            .btn {
                height: 46px;
            }
        }
    }

}

/* Badges: Default style - */
%skew {
    strong {
        @include relative();
        z-index: 1;
        color: $blue;
        font-weight: 400 !important;
    }

    &:after {
        @include transform(skew(-10deg));
        content: "";
        background: $green;
        @include size(100%);
        @include absolute(left 0 top 0);
        z-index: 0;
    }
}

.login {
    @include relative(top -14px);
    padding: 16px 20px;
    margin: 0 10px -27px;

    @include media-breakpoint-down(sm) {
        top: 0;
        margin: 5px 0;
        display: inline-block;
        padding: 7px 10px;
    }

    @extend %skew;

    &:hover {
        text-decoration: none;
    }

    strong {
        color: $blue !important;
    }

}

.badges {
    @extend %skew;
    @include size(auto);
    @include relative();
    padding: 0 8px 0 8px;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;

    @include media-breakpoint-down(sm) {
        position: absolute;
        right: -2px;
        top: -33px;
        left: auto;

    }


    strong {
        font-weight: bold !important;
    }
}

.carousel {
    background: $white;

    .carousel-indicators {
        left: auto;
        margin: 0;

        @include media-breakpoint-down(sm) {
            left: 0;
            bottom: -5px;
        }

        li {
            @include size(8px);
            border-radius: 100px;
            background-color: $blue;
            margin: 0 2px;

            @include media-breakpoint-down(sm) {
                @include size(4px);
            }

            &.active {
                background-color: $green;
            }
        }
    }

    .carousel-inner {
        .carousel-item {
            img {
                max-width: 600px;

                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                }
            }

            .carousel-caption {
                @include absolute(top 0 right 0 left auto);
                @include size(50% 100%);
                z-index: 2;
                color: $blue;
                text-align: left;
                padding: 0 4rem 2rem;
                box-sizing: border-box;

                @include media-breakpoint-down(sm) {
                    padding: 8px 39px 8px 0;
                    display: inline-block !important;
                    background: $white;
                    height: 36%;
                    width: 100%;
                    top: auto;
                    bottom: 0;
                }

                h2 {
                    font-size: 2.4rem;
                    line-height: 1.1;

                    @include media-breakpoint-down(md) {
                        font-size: 1.65rem;
                    }

                    @include media-breakpoint-only(lg) {
                        font-size: 2.1rem;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 0.85rem;
                        max-width: 77%;
                    }

                }
            }

            @extend %skew;

            &:after {
                @include size(50% 100%);
                background: $white;
                @include transform(skew(-12deg));
                @include absolute(top 0 right 0 left auto);

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .comments {
                @include absolute(bottom 0 left 0);

                @include media-breakpoint-down(sm) {
                    bottom: 13px;
                    left: auto;
                    right: 9px;
                }

                em {
                    font-style: normal;
                    font-size: 0.7rem;
                    font-family: arial;
                    color: $blue;
                    display: block;
                    text-align: center;
                    margin-bottom: 6px;
                    opacity: 0.6;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: 0;
                    }
                }

                img {
                    border-radius: 24% 76% 74% 26% / 39% 37% 63% 61%;
                    @include size(40px);

                    @include media-breakpoint-down(sm) {
                        @include size(25px);
                    }
                }
            }
        }
    }

    .carousel-control-next-icon {
        width: 48px;
        height: 30px;
        background: transparent;
        text-indent: -9999px;
        border-top: 9px solid #00ff87;
        border-left: 14px solid #00ff87;
        text-decoration: none;
        color: transparent;
        transform: rotate(109deg) skew(-49deg);
        @include relative(right -61px);

        @include media-breakpoint-down(sm) {
            display: none !important;
        }

        @include media-breakpoint-down(md) {
            right: -32px;
        }
    }
}


.tabPanel {

    .card {
        border: 0 none;
        overflow: hidden;
        border-radius: 0;

        .thumbnailsVideo {
            i {
                background: #3af0ff;
                padding: 8px 11px;
                font-size: 2rem;
                position: absolute;
                right: 0;
                bottom: 27px;
                cursor: pointer;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            @include media-breakpoint-down(sm) {
                position: relative;

                i {
                    bottom: 0;
                }
            }

            @include media-breakpoint-only(md) {
                position: relative;

                i {
                    bottom: 0;
                }
            }
        }

        .card-img-top {
            border-radius: 0 !important;
        }

        .card-body {
            @include media-breakpoint-down(sm) {
                padding-bottom: 19px !important;
            }

            @include media-breakpoint-only(md) {
                padding-bottom: 19px !important;
            }
        }
        .card-text{
            font-size:1rem;
        }
    }

    .nav-tabs {
        border: 0 none;
        display: inline-block;

        li {
            margin-right: 6px;
            display: inline-block;

            @include media-breakpoint-down(sm) {
                margin-right: 3px;
            }

            &:first-child {
                margin-left: -10px;

                a {
                    padding-left: 22px;
                }
            }

            a {

                @extend %skew;
                position: relative;
                text-decoration: none !important;
                font-size: 1.2rem;
                padding: 3px 12px 1px;
                display: inline-block;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }

                i {
                    z-index: 2;
                    position: relative;
                    margin-right: 6px;
                    top: 1px;
                    color: $blue;
                }

                &.active {
                    strong {
                        color: $green;
                    }

                    i {
                        color: $green;
                    }

                    &:after {
                        background-color: $blue;
                    }

                    &:before {
                        content: "";
                        @include size(100% 5px);
                        @include absolute(bottom -9px left -4px);
                        z-index: 2;
                        background-color: $green;
                    }
                }

                &.trending {
                    i {
                        color: $blue;
                    }

                    &:after {
                        background-color: $blueL1;
                    }

                    &.active {
                        i {
                            color: $green
                        }

                        &:after {
                            background-color: $blue;
                        }
                    }
                }
            }

            &.more {
                margin-right: -10px;

                a {
                    padding-right: 21px;

                    &:after {
                        background-color: $blueL1;
                    }
                }

                @include media-breakpoint-down(sm) {
                    float: none !important;
                    margin-top: 7px;
                    position: absolute;
                    right: 0;
                    top: 38px;
                    z-index: 89;
                }

            }

        }

    }

    .tab-pane {
        padding: 0;
    }

    .tab-content {
        padding: 32px 0 0;

        @include media-breakpoint-down(sm) {
            padding: 17px 0 0;
        }
    }
}

%pageHeader {
    margin: -1.5rem -1.5rem 1.5rem;
    background: $yellow;

    @include media-breakpoint-down(sm) {
        margin: -0.95rem -0.95rem 0.95rem;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.17rem;
        margin: 0;
        padding: 0;
        line-height: normal;
    }
}

.contact {

    header {
        @extend %pageHeader;
    }

    #map {
        @include size(100%);
        min-width: 100%;
        min-height: 400px;

        @include media-breakpoint-down(sm) {
            min-height: 200px;
            height: auto;
            margin-bottom: 20px
        }
    }

    p {
        line-height: 1.3;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .form-control {
        background: $greyL1;
        min-height: 45px;

        @include media-breakpoint-down(sm) {
            min-height: 40px;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            text-transform: uppercase;
            color: $placeholder;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            text-transform: uppercase;
            color: $placeholder;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            text-transform: uppercase;
            color: $placeholder;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            text-transform: uppercase;
            color: $placeholder;
        }

        &:focus {
            outline: none;
            border-color: $blueL1;
            box-shadow: 0 0 0;
        }
    }

    .submit {
        overflow-x: hidden;
        padding-left: 3px;

        button {
            position: relative;
            background: transparent;
            border: 0 none;
            @extend %skew;
            padding: 4px 18px;
            margin-right: -3px;

            &:after {
                background-color: $blueL1;
            }
        }
    }
}


.social {
    overflow: hidden;

    header {
        @extend %pageHeader;
        background-color: $red;
        color: $white;
    }

    p {
        line-height: normal;
        font-size: 14px;
        font-family: arial;
    }

    /* INSTAGRAM WIDGETS Custome Style */
    div.eapps-widget.eapps-widget-show-toolbar:hover:before,
    .eapps-instagram-feed-title-container,
    .eapps-instagram-feed-title-visible,
    .eapps-widget-toolbar,
    .eapps-instagram-feed-posts-item-type-video .eapps-instagram-feed-posts-item-image-icon-video {
        display: none !important;
    }

    #eapps-instagram-feed-1 .eapps-instagram-feed-posts-grid-load-more {
        background: transparent;
    }

    .eapps-widget-show-toolbar {
        margin-bottom: -70px !important;
    }

    #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item {
        background: transparent;
    }

    @include media-breakpoint-up(lg) {



        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-grid-load-more {
            background: transparent;
        }

        .eapps-widget-show-toolbar {
            margin-bottom: -70px !important;
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-overlay,
        .eapps-instagram-feed-posts-item-template-tile .eapps-instagram-feed-posts-item-image {
            -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 51%);
            clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 51%);
        }



        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(5) {
            margin-left: 13% !important;
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(5),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(6),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(7),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(8),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(9),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(10),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(11),
            {
            margin-top: -112px !important;
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(1),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(4) {
            width: calc(17% - 10px) !important;
            margin-left: 8.5% !important;
            margin-top: 49px !important;
            height: 31% !important;
        }

        .eapps-instagram-feed-posts-small .eapps-instagram-feed-posts-item-template-tile:nth-child(1) .eapps-instagram-feed-posts-item-text,
        .eapps-instagram-feed-posts-small .eapps-instagram-feed-posts-item-template-tile:nth-child(4) .eapps-instagram-feed-posts-item-text,
        .eapps-instagram-feed-posts-small .eapps-instagram-feed-posts-item-template-tile:nth-child(8) .eapps-instagram-feed-posts-item-text {
            font-size: 10px;
            line-height: 13px;
            max-height: 39px;
            margin-top: 6%;
        }

        .eapps-instagram-feed-posts-small .eapps-instagram-feed-posts-item-template-tile:nth-child(1) .eapps-instagram-feed-posts-item-likes-count-icon,
        .eapps-instagram-feed-posts-small .eapps-instagram-feed-posts-item-template-tile:nth-child(4) .eapps-instagram-feed-posts-item-likes-count-icon {
            @include size(15px);

        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(4) {
            margin-left: 1% !important;
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(12) {
            margin-left: calc(39% - 10px) !important;
            margin-top: -112px !important;
            margin-bottom: -112px !important;

        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(11),
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(12) {
            display: none !important;
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(8) {
            width: calc(18% - 10px) !important;
            height: 33% !important;
            margin-left: 4% !important;
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(9) {
            margin-left: calc(5% - 10px) !important;
        }

        .eapps-instagram-feed-posts-item:hover.eapps-instagram-feed-posts-item-template-tile .eapps-instagram-feed-posts-item-image {
            transform: scale(1) translate(-50%, -50%);
        }

        .eapps-instagram-feed-posts-item-template-tile .eapps-instagram-feed-posts-item-content {
            width: 50%;
            max-height: 60%;
        }
    }

    @include media-breakpoint-only(lg) {

        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(5),
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(6),
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(7),
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(8),
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(9),
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(10),
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(11) {
            margin-top: -89px !important;
        }

        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(5) {
            margin-left: 12% !important;
        }

        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:first-child,
        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(4) {
            margin-left: 8.5% !important;
            margin-top: 39px !important;
            height: 37% !important;
        }

        .social #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item:nth-child(8) {
            height: 37% !important;
            margin-left: 3% !important;
        }

        .social .eapps-instagram-feed-posts-grid-load-more-text {
            top: -118px;
        }
    }

    .eapps-instagram-feed-posts-grid-load-more-text {
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: $red;
        @include relative(top -187px left 63px);
        font-size: 0;
        z-index:999;
        @include media-breakpoint-down(sm) {
            top: -124px;
        }

        &:before {
            content: "View all >";
            width: auto;
            font-size: 0.9rem;
            line-height: normal;
            z-index: 9;
            font-weight: bold;
            @include absolute(left -14px top 35px);
        }

        &:after {
            content: '';
            position: absolute;
            left: -50px;
            top: 50px;
            width: 0;
            height: 0;
            border: 50px solid transparent;
            border-top-color: $red;
        }
    }
}

footer {
    background: $yellow;

    .row {
        @include media-breakpoint-down(sm) {
            margin-top: 0 !important;
        }
    }

    h5 {
        a {
            margin: 0 4rem;
            display: inline-block;
            color: #000;

            @include media-breakpoint-down(sm) {
                margin: 24px 2rem 30px;
            }

            @include media-breakpoint-only(lg) {
                margin: 0 2rem;
            }
        }
    }

    .logo {
        @include media-breakpoint-down(sm) {
            margin: 0 auto;
            display: table;
        }

    }


    .newsletter {
        span {
            margin-top: -29px;
            display: block;
            text-align: right;

            @include media-breakpoint-down(sm) {
                margin-top: -14px;
            }

            @include media-breakpoint-down(md) {
                width: 100%
            }
        }

        .input-group {
            border: 1px solid $grey;
            background: $white;
        }

        .form-control {
            border: 0 none;
        }

        .input-group-append {
            overflow: hidden;
            margin-left: -6px;
            overflow: hidden;
            padding-left: 10px;

            button {
                position: relative;
                @extend %skew;
                background: transparent;
                border: 0 none;

                &:after {
                    background: $blueL1;
                    right: -4px;
                    left: auto;
                }
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        @include media-breakpoint-only(lg) {
            max-width: 372px;
        }
    }

    .listItems {
        @include media-breakpoint-only(lg) {
            max-width: 312px;
        }
    }

    .socialMedia {
        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
            margin-top: 20px;
            max-width: 165px;

            a {
                @include size(34px);
            }
        }

        @include media-breakpoint-only(lg) {
            a {
                @include size(34px);
                min-width: 34px;
            }
        }


    }
}